<main id="user-page">
  <div class="container">
    <div class="user-name-area">
      <div>
      <%= image_tag 'Eric-cartman.png' %>
      <p><%= current_user.name %></p>
      </div>
    </div>
    <div class="user-box">
      <div class="user-menu">
        <ul>
        <li>アカウント設定</li>
        <li class="selected"><%= link_to "自分の投稿", my_posts_path %></li>
        <li><%= link_to "お気に入り登録した投稿", favorite_posts_path %></li>
        <li><%= link_to "あるあるした投稿", aruaru_posts_path %></li>
        <li><%= link_to "ないないした投稿", nainai_posts_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
      <div class="index-main">
        <div class="posts-area">
        <%= render partial: 'partial_template/post', collection: @posts, as: 'post' %>
        </div>
      </div>
    </div>
  </div>
</main>
