<main id="show-page">
  <div class="show-container">
    <div class="edit-or-destroy">
      <%= link_to "編集", edit_post_path(@post) %>
      <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    </div>
    <div class="post post-detail">
      <p class="text"><%= @post.content %></p>
      <div class="option">
        <div class="btn-area">
          <button type="button" class="aruaru-btn">あるある</button>
          <div class="mater">
          <div class="aruaru-bar"></div>
          <div class="nainai-bar"></div>
          </div>
          <button type="button" class="nainai-btn">ないない</button>
        </div>
        <div class="count-area">
          <p class="aruaru-count">+576</p>
          <p class="nainai-count">-234</p>
        </div>
        <div class="footer-area">
          <div class="user-area">
            <a href="/user/posts" class="user-name"><%= @post.user.name %></a>
            <%= image_tag 'Eric-cartman.png' %>
          </div>
          <div class="other-btn">
            <a href=""><i class="fas fa-star fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="comment-area">
     <ul>
      <li>
        <p>これはあるあるw</p>
        <div class="user-area">
          <a href="/user/posts" class="user-name">mike</a>
          <%= image_tag 'Eric-cartman.png' %>
        </div>
      </li>
      <li>
        <p>それな！</p>
        <div class="user-area">
          <a href="/user/posts" class="user-name">mike</a>
          <%= image_tag 'Eric-cartman.png' %>
        </div>
      </li>
      <li>
        <p>それなああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
        <div class="user-area">
          <a href="/user/posts" class="user-name">mike</a>
          <%= image_tag 'Eric-cartman.png' %>
        </div>
      </li>
     </ul>
    </div>
  </div>
</main>