<aside>
  <div class="ads">
    <ul>
    <li>注目タグ</li>
    <% tag_hash.each do |tag_name, count| %>
    <li><%= link_to "##{tag_name} #{count}件", "/posts?utf8=✓&q%5Bname_cont%5D=#{tag_name}&button=" %></li>
    <% end %>
    </ul>
  </div>
  <div class="user-ranking">
    <ul>
    <li>あるある取得ランキング</li>
    <% users.each_with_index do |user,i|%>
      <li>
      <p class="user-area"><%= i+1 %>.<%= image_tag 'Eric-cartman.png' %>
      <% if user_signed_in? %>
        <% if user.id == current_user.id %>
        <%= link_to user.name, my_posts_path %>
        <% else %>
        <%= link_to user.name, user_posts_path(user) %>
        <% end %>
      <% else %>
        <%= link_to user.name, user_posts_path(user) %>
      <% end %>
      </p>
      </li>
    <% end %>
    </ul>
  </div>
</aside>