<div class="post">
<% if action_name == 'user_posts' %>
  <a href="/posts/<%= post.id %>", class="to_detail"></a>
  <p class="user-area"><%= image_tag 'Eric-cartman.png' %><%= post.user.name %></p>
<% elsif action_name == 'my_posts' %>
  <a href="/user/post/<%= post.id %>", class="to_detail"></a>
  <p class="user-area"><%= image_tag 'Eric-cartman.png' %><%= post.user.name %></p>
<% else %>
  <a href="/posts/<%= post.id %>", class="to_detail"></a>
  <p class="user-area"><%= image_tag 'Eric-cartman.png' %>
  <% if user_signed_in? %>
    <% if post.user.id == current_user.id %>
      <%= link_to post.user.name, user_path %>
    <% else %>
      <%= link_to post.user.name, user_posts_path(post.user) %>
    <% end %>
  <% else %>
    <%= link_to post.user.name, user_posts_path(post.user) %>
  <% end %>
  </p>
<% end %>
  <p class="text">
    <%= post.content %><br><br>
    <% post.tags.each do |tag| %>
      <span class="tag-name">#<%= link_to tag.name, "/posts?utf8=✓&q%5Bname_cont%5D=#{tag.name}&button=" %></span>
    <% end %>
  </p>
  <%= render 'partial_template/function', post: post %>
</div>