<div class="post">
  <a href="/users/my_posts/<%= post.id %>", class="to_detail"></a>
  <p class="user-area"><%= image_tag 'Eric-cartman.png' %><%= post.user.name %></p>
  <p class="text">
  <%= post.content %><br><br>
  <% post.post_tags.each do |post_tag| %>
    <span class="tag-name">#<%= link_to post_tag.tag.name, "/posts?utf8=✓&q%5Bname_cont%5D=#{post_tag.tag.name}&button=" %></span>
  <% end %>
  </p>
  <div class="function">
    <div class="btn-area btn_area_<%= post.id %>">
    <% if current_user.aruaru?(post.id,current_user.id) or current_user.nainai?(post.id,current_user.id) %>
      <%= link_to "あるある", "#!", class: "aruaru-btn" %>
      <%= link_to "ないない", "#!", class: "nainai-btn" %>
    <% else %>
      <%= link_to "あるある", aruaru_post_path(post), method: :post, class: "aruaru-btn", remote: true %>
      <%= link_to "ないない", nainai_post_path(post), method: :post, class: "nainai-btn", remote: true %>
    <% end %>
    </div>
    <div class="count-area count_area_<%= post.id %>">
      <p class="aruaru-count">+<%= Aruaru.where(post_id: post.id).count %></p>
      <p class="nainai-count">-<%= Nainai.where(post_id: post.id).count %></p>
    </div>
    <div class="footer-area">
      <div class="posted-date">
        <p><%= time_ago_in_words(post.created_at) %>前</p>
      </div>
      <div class="other-btn">
        <a href=""><i class="far fa-comment fa-lg"></i> <%= post.comments.count %></a>
        <a href=""><i class="fas fa-star fa-lg"></i></a>
      </div>
    </div>
  </div>
</div>