<main id="top-page">
  <div class="catch-phrase-area">
    <h1 class="catch-phrase">世界はあるある<br>で満ちている</h1>
    <h2 class="app-description">
      あるある広場は学校や職場、人間関係など<br class="iphone">ありとあらゆる場面での<br class="laptop">あるあるを<br class="iphone">投稿し共有し発見するサービスです
    </h2>
    <%= link_to '探す', 'search', class: "btn btn-border-shadow" %>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 50" preserveAspectRatio="none" id="svg-bg">
    <path d="M0,0 q50,100 100,0 Z" fill="#FF0"></path>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 50" preserveAspectRatio="none" id="svg-bg-iphone">
    <path d="M0,0 q50,50 100,0 Z" fill="#FF0"></path>
  </svg>

  <div class="manual-area1">
    <h2 class="manual-title1">➀みんなの投稿をみてみよう</h2>
    <div class="manual-content">
      <div class="content">
        <%= image_tag 'Front view MacBook mockup.png', class: "mockup-laptop" %>
        <%= image_tag 'IMG_6277 iPad pro.png', class: "mockup-ipad" %>
        <%= image_tag 'IMG_6233 iPhone X.png', class: "mockup-iphone" %>
        <div class="comment">
          <div class="fukidasi1">検索バーにキーワードを入力してあるある投稿を見つけよう</div>
        </div>
        <div class="comment2">
          <div class="fukidasi2">トレンドキーワードをクリックしてあるある投稿を見つけよう</div>
        </div>
      </div>
      <div class="arrow"><i class="fas fa-arrow-down fa-3x"></i></div>
      <div class="content">
        <%= image_tag 'Front view MacBook mockup.png', class: "mockup-laptop" %>
        <%= image_tag 'IMG_6277 iPad pro.png', class: "mockup-ipad" %>
        <%= image_tag 'IMG_6233 iPhone X.png', class: "mockup-iphone" %>
        <div class="comment">
          <div class="fukidasi1">検索バーにキーワードを入力してあるある投稿を見つけよう</div>
        </div>
        <div class="comment2">
          <div class="fukidasi2">トレンドキーワードをクリックしてあるある投稿を見つけよう</div>
        </div>
      </div>
      <div class="arrow"><i class="fas fa-arrow-down fa-3x"></i></div>
      <div class="content">
        <%= image_tag 'Front view MacBook mockup.png', class: "mockup-laptop" %>
        <%= image_tag 'IMG_6277 iPad pro.png', class: "mockup-ipad" %>
        <%= image_tag 'IMG_6233 iPhone X.png', class: "mockup-iphone" %>
        <div class="comment">
          <div class="fukidasi1">検索バーにキーワードを入力してあるある投稿を見つけよう</div>
        </div>
        <div class="comment2">
          <div class="fukidasi2">トレンドキーワードをクリックしてあるある投稿を見つけよう</div>
        </div>
      </div>
    </div>
  </div>

  <div class="manual-area2">
    <h2 class="manual-title2">➁あるあるを投稿しよう</h2>
    <div class="manual-content">
      <div class="content">
        <%= image_tag 'Front view MacBook mockup.png', class: "mockup-laptop" %>
        <%= image_tag 'IMG_6277 iPad pro.png', class: "mockup-ipad" %>
        <%= image_tag 'IMG_6233 iPhone X.png', class: "mockup-iphone" %>
      </div>
      <div class="arrow"><i class="fas fa-arrow-down fa-3x"></i></div>
      <div class="content">
        <%= image_tag 'Front view MacBook mockup.png', class: "mockup-laptop" %>
        <%= image_tag 'IMG_6277 iPad pro.png', class: "mockup-ipad" %>
        <%= image_tag 'IMG_6233 iPhone X.png', class: "mockup-iphone" %>
      </div>
      <div class="arrow"><i class="fas fa-arrow-down fa-3x"></i></div>
      <div class="content">
        <%= image_tag 'Front view MacBook mockup.png', class: "mockup-laptop" %>
        <%= image_tag 'IMG_6277 iPad pro.png', class: "mockup-ipad" %>
        <%= image_tag 'IMG_6233 iPhone X.png', class: "mockup-iphone" %>
      </div>
    </div>
  </div>
</main>

<footer>
</footer>