<main id="new-page">
  <div class="create-box">
    <% if form == @form %>
    <%= form_with model: form, url:posts_path do |f| %>
    <% else %>
    <%= form_with model: form, url:post_path, method: :patch do |f| %>
    <% end %>
      <div class="text-box">
        <%= f.label :content, "・テキスト", class: "text-label" %>
        <%= f.text_area :content, class: "content", placeholder: "授業中先生掃除しがち" %>
      </div>
      <div class="tag-box">
        <%= f.label :name, "・タグ", class: "tag-label" %>
        <%= f.text_area :name, class: "tag", placeholder: "(例)学校" %>
      </div>
      <%= f.submit "投稿", class: "create-button" %>
    <% end %>
  </div>
</main>
