<main id="new-page">
  <div class="create-box">
    <%= form_with model: @form, url:post_path, method: :patch do |f| %>
      <p class="user-area"><%= image_tag 'Eric-cartman.png' %><%= link_to current_user.name, user_posts_path %></p>
      <%= f.text_area :content, class: "content", placeholder: "テキスト" %>
      <%= f.text_area :name, class: "tag", placeholder: "タグ" %>
      <%= f.submit "更新", class: "create-button" %>
    <% end %>
  </div>
</main>
