<main id="page">
<div class="container">
  <div class="header-field">
    <% if @tag %>
    <p class="post-number">#<%= @tag.name %> <%= @posts.count %>件</p>
    <% else %>
    <p class="post-number">検索されたワードの投稿はありませんでした</p>
    <% end %>
  </div>
  <div class="index-box">
    <div class="main">
      <div class="posts-area">
        <%= render partial: 'partial_template/post', collection: @posts %>
      </div>
      <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
    </div>
    <aside>
      <div class="ads"></div>
      <div class="user-ranking">
        <ul>
        <li>あるある取得ランキング</li>
        <% @users.each_with_index do |user,i|%>
          <li><p class="user-area"><%= i+1 %>.<%= image_tag 'Eric-cartman.png' %><%= link_to user.name, user_posts_path %></p></li>
        <% end %>
        </ul>
      </div>
    </aside>
  </div>
</div>
</main>