<main id="page">
  <div class="container">
    <div class="header-field">
      <% if @tag %>
      <p class="post-number">#<%= @tag.name %> <%= @posts.count %>件</p>
      <% else %>
      <p class="post-number">検索されたワードの投稿はありませんでした</p>
      <% end %>
    </div>
    <div class="box">
      <div class="index-main">
        <div class="posts-area"><%= render partial: 'partial_template/post', collection: @posts %></div>
        <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
      </div>
      <%= render 'partial_template/aside',  {tag_hash: @tag_hash, users: @users} %>
    </div>
  </div>
</main>