<main id="show-page">
  <div class="show-container">
    <div class="post-detail">
      <p class="user-area"><%= image_tag 'Eric-cartman.png' %><%= link_to @post.user.name, user_posts_path %></p>
      <p class="text"><%= @post.content %></p>
      <%= render 'partial_template/post_show', post: @post %>
    </div>
    <div class="comment-area">
     <ul>
     <li><%= form_with model: @comment, url:comments_path do |f| %>
      <div class="user-area">
        <%= image_tag 'Eric-cartman.png' %>
        <%= f.text_field :text, class: "input-comment", placeholder: "コメントを入力..." %>
        <%= f.hidden_field :post_id, value: @post.id %>
      </div>
      <div class="button">
        <%= f.submit "投稿", class: "create-button" %>
      </div>
      <% end %></li>
     <%= render partial: 'partial_template/comment', collection: @comments %>
     </ul>
    </div>
  </div>
</main>