<main id="show-page">
  <div class="show-container">
    <div class="post-detail">
      <p class="user-area">
      <%= image_tag 'Eric-cartman.png' %>
      <% if @post.user.id == current_user.id %>
      <%= link_to @post.user.name, users_my_posts_path %>
      <% else %>
      <%= link_to @post.user.name, user_posts_path(@post.user) %>
      <% end %>
      </p>
      <p class="text">
      <%= @post.content %><br><br>
      <% @post.post_tags.each do |post_tag| %>
        <span class="tag-name">#<%= link_to post_tag.tag.name, "/posts?utf8=✓&q%5Bname_cont%5D=#{post_tag.tag.name}&button=" %></span>
      <% end %>
      </p>
      <%= render 'partial_template/post_show', post: @post %>
    </div>
    <div class="comment-area">
     <ul>
     <li>コメント  <%= @comments.count %>件</li>
     <li><%= form_with model: @comment, url:comments_path do |f| %>
      <div class="user-area">
        <%= image_tag 'Eric-cartman.png' %>
        <%= f.text_area :text, class: "input-comment", placeholder: "コメントを入力 ..." %>
        <%= f.hidden_field :post_id, value: @post.id %>
      </div>
      <div class="button">
        <%= f.submit "投稿", class: "create-button" %>
      </div>
      <% end %></li>
     <%= render partial: 'partial_template/comment', collection: @comments %>
     </ul>
    </div>
  </div>
</main>