<main id="show-page">
  <div class="container">
    <div class="box">
      <div class="show-main">
        <div class="post-show-area">
          <div class="post-detail">
            <p class="user-area">
            <%= image_tag 'Eric-cartman.png' %>
            <% if user_signed_in? %>
              <% if @post.user.id == current_user.id %>
              <%= link_to @post.user.name, my_posts_path %>
              <% else %>
              <%= link_to @post.user.name, user_posts_path(@post.user) %>
              <% end %>
            <% else %>
              <%= link_to @post.user.name, user_posts_path(@post.user) %>
            <% end %>
            </p>
            <p class="text">
            <%= @post.content %><br><br>
            <% @post.tags.each do |tag| %>
              <span class="tag-name">#<%= link_to tag.name, "/posts?utf8=✓&q%5Bname_cont%5D=#{tag.name}&button=" %></span>
            <% end %>
            </p>
            <%= render 'partial_template/function', post: @post %>
          </div>
          <div class="comment-area">
            <ul>
            <li>コメント  <%= @comments.count %>件</li>
            <% if user_signed_in? %>
              <li>
              <%= form_with model: @comment, url:comments_path do |f| %>
                <div class="user-area">
                  <%= image_tag 'Eric-cartman.png' %>
                  <%= f.text_area :text, class: "input-comment", placeholder: "コメントを入力 ..." %>
                  <%= f.hidden_field :post_id, value: @post.id %>
                </div>
                <div class="button">
                  <%= f.submit "投稿", class: "create-button" %>
                </div>
              <% end %>
              </li>
            <% end %>
            <%= render partial: 'partial_template/comment', collection: @comments %>
            </ul>
          </div>
        </div>
      </div>
      <%= render 'partial_template/aside',  {tag_hash: @tag_hash, users: @users} %>
    </div>
  </div>
</main>