<!DOCTYPE html>
<html>
  <head>
    <title>AruaruApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
  <header>
  <div class="header">
    <h1 class="title"><a href="/">あるある広場</a></h1>
    <nav class="icon">
      <ul>
      <li><%= render 'searches/searchform' %></li>
      <li><a href="/posts/new" class="home"><i class="fas fa-pencil-alt fa-lg"></i></a></li>
      <li><a href="/user" class="home"><i class="fas fa-user fa-lg"></i></a></li>
      <% if user_signed_in? %>
      <li><%= current_user.name %></li>
      <% else %>
      <li>ゲストユーザー</li>
      <% end %>
      </ul>
    </nav>
  </div>
  </header>
    <%= yield %>
  <div class="create-comment">
    <%= render 'searches/searchform' %>
  </div>
  <nav class="icon-iphone">
    <a class="home"><i class="fa-sharp fa-solid fa-house fa-lg"></i></a>
    <a href="/posts/new" class="home"><i class="fas fa-pencil-alt fa-lg"></i></a>
    <a href="/user" class="home"><i class="fas fa-user fa-lg"></i></a>
  </nav>
  </body>
</html>
